 @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;500;700;900&display=swap');

:root{
    --bg: #ffffff;
    --main: #ffa500;
}

@keyframes blink-cursor {
  	0% {
	  border-color: var(--main); 
  	}
  	50% {
	  border-color: transparent; 
  	}
  	100% {
    	border-color: var(--main); 
	} 
}

@keyframes typing {
  0% {
    width: 0; 
	}
  50% {
    width: 0; 
  }
  100% {
    width: 100%; 
	} 
}

html,body{
    font-family: 'Roboto Mono';
    font-weight: 300;
    padding: 0;
    margin: 0;
    background: var(--bg);

}

.topnav {
    background-color: #ffffff;
    border:none;
    padding: 20px;
    overflow: hidden;
	z-index: 100;
}

.topnav a {
  float: right;
  color: #7e7b79;
  text-align: center;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
	z-index: 100;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: var(--main);
}

/* Add a color to the active/current link */
.topnav a.active {
  color: var(--main);
}

.logo
{
    float: left;
    height: 70px;
}



h1,h2,h3 {
	color: var(--main);
	font-family: 'Roboto Mono';
	font-weight: 500;
	font-size: calc( 2vw + 30px );
	margin: 0px 5%;
	text-align: center;
}

h3 {
	color: #eee;
	font-size: calc(2vw + 0px);
	font-weight: 300;
	text-align: left;
}

#classespreview, #customizeexperience {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 50px;
	padding-top: 50px;
}

#preview1 {
	background-image: url( "../media/robotadultpreview.jpg");
}

.previewimagecontainer {
	text-align: center;
	font-size:20px;
}

#preview2 {
	transition: 0.25s;
	background-image: url( "../media/kidspreviewimage1.jpg");
}
#preview2:hover
{
	transition: 0.25s;
	background-image: url( "../media/kidspreviewimage2.jpg");
}

.experienceimage {
	background-size: cover;
	width:  calc( 2vw + 250px );
	height: calc( 2vw + 220px );
	border-radius: 5px;
	margin: 10px 40px;
}
.previewimage:hover
{
	cursor: pointer;
}

#preview3 {
	background-image: url( "../media/viazoompreview.jpg");
}

[class *= "button-"] {
	text-decoration: none;
	transition: 0.2s;
	font-size: 17px;
	border: 2px solid  var(--main);
	border-radius: 20px;
	background-color: var(--main);
	padding: 10px 15px;
	font-weight: 500;
	color: var(--bg);
	user-select: none;
}
[class *= "button-"]:hover{
	transition: 0.2s;
	background-color: var(--bg);
	color: var(--main);
	cursor: pointer;
}

[class *= "button-"]:active {
	color: black;
	border: 2px solid black;
}

.previewimage {
	background-size: cover;
	width:  calc( 2vw + 250px );
	height: calc( 2vw + 182px );
	border-radius: 5px;
	margin: 10px 40px;
}

h2 {
	font-size: calc(3vw + 15px);
	font-weight: 300;
	color: orange
}

h1 {
	text-shadow: 0px 0px 10px #885800;
	line-height: 1em;
	
	text-align: left;
}

#titlesection, #titlesectionmobile {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	background-color: black;
	z-index: 50;
}
#titlesectionmobile {
	height: calc(41vw);
	margin-bottom: 20px;
}
#titlesection
{
	height: 31vw;
	margin-bottom: calc(3vw);
}

#typewriter {
	height: (11vw);
	border-right: 5px solid var(--main);
	white-space: nowrap;
  	animation: blink-cursor 1s step-end infinite, typing 3s steps(24, end);;
	animation-delay: 0s;
	overflow: hidden;
	margin: 30px auto;
	user-select: none;

}

#typewrapper {
	width: calc( 86% + 23px );
	margin: auto;
}

#titlediv, #titledivmob {
	background-color: transparent	;
	
	width: 99vw;
	text-align: left;
	z-index: 100;
}
#titlediv div
{
	width: 50%;
	background-color: transparent;
}

#titlevideo {
	overflow: hidden;
	width: 100%;
	z-index: 1;
	position: absolute;
	background-size: cover;
	margin-bottom: 0;
}

#titledivwrapper, #titledivwrappermob {
	background-color: transparent;
	z-index: 100;
}



.blockquote-wrapper {
	display: flex;
	justify-content: center;
	padding: 100px 20px;
	padding-top: 50px;
}

/* Blockquote main style */
.blockquote {
    position: relative;
    max-width: 720px;
    align-self: center;
}

/* Blockquote header */
.blockquote h1 {
	text-shadow: none;
	font-size: 20px;
    position: relative; 
    color: orange;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    border: solid 2px black;
    border-radius:20px;
    padding: 35px;
}

/* Blockquote right double quotes */
.blockquote h1:after {
    content:"";
    position: absolute;
    border: 2px solid black;
    border-radius: 0 50px 0 0;
    width: 60px;
    height: 60px;
    bottom: -62px;
    left: 50px;
    border-bottom: none;
    border-left: none;
    z-index: 3; 
}
.blockquote h1 .quote
{
	width: 50px;
}

.blockquote h1:before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid #ffffff;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

/* increase header size after 600px */

.blockquote h4 {
    position: relative;
	font-size: 20px;
    color: #000;
    font-weight: 300;
    margin: 0;
    padding-top: 20px;
    margin-left: 150px;
    padding-left: 12px;
}

.splitview div {
	width: 40%;
	font-size: 15px;
	font-weight: 100;
	margin-right: 50px;
	line-height: 2em;
}

.splitview {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.splitview img {
	border-radius: 20px;
	width: calc( 15vw + 200px );	
}

.splitview div h3 {
	text-align: center;
	color: orange;
	font-size: 30px;
}

hr {
	width: 50vw;
	color: #00ff00 !important;
}

#titlesectionmobile
{
	display: none;
}

.desktop
{
	display: block;
}

.topnavmob {
		display: none;
}

.bg {
	width: 100%;
	height: 80vh;
	background-attachment: fixed;
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover !important;
	display: flex;
	align-items:center;
}





#parallax {
	position: fixed;
	width: 100%;
	height 100vh;
	//left: 0;
	//top: 200px;
	background-color: blue;
	//background-image: url("../media/robotcup.jpg");
	background-size: cover;
	background-position: center;
	z-index: 1;
}

div,section {
}



#videocontainer {
}

.hr
{
	width: 100%;
	height: 10px;
	background-color: white;
}

#bg1 {
	background-image: url( "../media/titlerobot.jpeg");
	display: flex;
	justify-content: flex-end;
	align-items:center;
}


#testimonials {
	margin-top: 100px;
}


#bg2 {
	background-image: url( "../media/piimage.jpeg");
	
}

#howiitworks {
	margin-top: 100px;
}

.mobile {
	display: initial;
	display: none;
}

p {
	font-size: 15px;
}

#bg3 {
	background-image: url( "../media/tictactoe.JPG");
}

.text {
	color: white;
}

.white {
	color: white;
}

.button-white {
	background-color: white;
	color: orange;
	border-color: white;
}
.button-white:hover
{
	background-color: orange;
	color: white;
}

footer, footer div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
}

.social {
	width:50px;
	height:50px;
	margin: 20px;
}

.social:hover {
	cursor: pointer;
}

.splitview div h4 {
	text-align: center;
	font-weight: 300;
	font-size: 18px;
}



#bg4 {
	background-image: url( "../media/3dprintfar.jpeg");
}



#bg5 {
	background-image: url( "../media/3dprinting.jpeg");
}

#experience1 {
	background-image: url( "../media/interest.png");
}

#bg2, #bg4 {
	justify-content: flex-start;
}

#bg1, #bg3 {
	justify-content: flex-end;
}

.button-clear {
	background-color: transparent;
	color: orange;
}
.button-clear:hover {
	background-color: orange;
	color: white;
}
.button-clear:active
{
	background-color: black;
}

.button-clear-hover:hover {
	background-color: transparent;
}

.button-nohover {
	background-color: transparent;
	border-color: white;
}
.button-nohover:hover {
	background-color: transparent;
	border-color:white;
	color:white
}

.button-reg-small {
	text-align: center;
	font-size: 14px;
	padding: 0.8em;
	width: 80%;
	margin: 15px 0px;
	margin-bottom: 0;
}

#mobbuttons {
	opacity: 0;
	display: flex;
	z-index: 100;
	justify-content: center;
	flex-wrap: wrap;
}
@media ( max-width: 990px )
{
	.splitview div {
		width: 80%;
		margin-right: 0px;
	}
	.splitview img {
		width: 80%;
	}
	
	.blockquote h1
	{
		font-size: 20px;
	}
	.desktop
	{
		display: none;
	}
	.topnav
	{
		display: none;
	}
	.topnavmob {
		display: block;
    	background-color: #ffffff;
    	border:none;
    	padding: 20px;
   		height: 45px;
		margin:0;
	}

	.topnavmob a {
	  float: right;
	  color: #7e7b79;
	  text-align: center;
	  padding: 20px;
	  margin: 0;
	  text-decoration: none;
	  font-size: 20px;
	  z-index: 100;
	}
	.topnavmob div

	.mobile
	{
		display: block;
	}
	#menumob {
		//transition: 1s;
		position: fixed;
		display: none;
		flex-direction: column;
		flex-wrap: wrap;
		text-align: center;
		width: 120px;
		height: 120%;
		background-color: white;
		box-shadow: -2px -2px 10px #00000000;
		z-index: 10000;
		right: 0px;
		top: 0;
	}
	#titlesectionmobile
	{
		display: flex;
		padding-bottom: 0;
	}
	#titledivwrappermob
	{
	}
	#titledivmob div h1
	{
		font-size: 20px;
		
	}
	#titledivmob div h3
	{
		color: white;
		font-size: calc(2vw + 4px);
	}
	#titlesection
	{
		display: none;
	}
	#menubutton {
		position: absolute;
		font-family: sans-serif;
		font-size: 30px;
		//transition: 1s;
		z-index: 100000;
		right: 20px;
		top: 6px;
	}
	.bg{
		background-attachment: scroll;
	}
	
	[class *= "button-"] {
		font-size: 15px;
	}
	#mobbuttons
	{
		opacity: 1;
	}

}
